.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url('../img/consultation.jpg') center (center/cover) no-repeat;
    &__descr {
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
    }
    .error {//для настройки отобр ошибок в мадалках (поле)
        border: 1px solid red;
    }
    label.error {//для настройки отобр ошибок в мадалках-сообщение об ошибке
        border: none;
        font-size: 12px;
        color: red;
        margin-bottom: 15px;
        margin-top: 3px;
    }
    input.error {
        margin-bottom: 0px;
    }
}