.title {
    color: #0d0d0d;//НАШИ ПРЕИМУЩЕСТВА
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    &_left {
        color:#ffffff;
        font-size: 36px;
        text-align: left;
    }
}

@media screen and (max-width: 592px) {
    .title {
        &_left {
            font-size: 30px;
            text-align: center;
        }
    }
}

@media screen and (max-width: 460px) {
    .title {
        font-size: 26px;
        &_left {
            font-size: 20px;
        }
    }
}
